[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=7.1.3"
mypy = "*"
black = "~=22.3.0"
hypothesis = "~=6.55.0"
types-markdown = "~=3.4.2"

[packages]
lagom = "~=2.0"
fastapi = "~=0.85"
pydantic = "~=1.10"
uvicorn = "~=0.18"
aiofiles = "~=22.1"
gunicorn = "~=20.1"
uvloop = "~=0.17"
markdown = "~=3.4"
jinja2 = "~=3.1"

[requires]
python_version = "3.13"
