[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
black = "==20.8b1"
hypothesis = "*"
types-markdown = "*"

[packages]
lagom = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"
aiofiles = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"
markdown = "*"
jinja2 = "*"

[requires]
python_version = "3.8"
